
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req
[ req_distinguished_name ]
C                      = US
ST                     = GA
L                      = Atlanta
O                      = GATECH
OU                     = CS6266
CN                     = controller.shn.local
emailAddress           = james.roberts@gatech.edu
[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[ alt_names ]
DNS.1 = controller.shn.local
DNS.2 = *.controller.shn.local
